@import url('https://fonts.googleapis.com/css2?family= Krona +One & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    
}
:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-tercearia: #22d4fd;
    --cor-hover: #272727;

    --fonte-primaira: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

body {
    box-sizing: border-box;
   
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}
.cabecalho {
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu {
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-tercearia);
    text-decoration: none;
    
}
.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 5% 15%;
    gap: 82px;
    
    
}
.apresentacao__conteudo {
    width: 50%;
    display:flex;
    flex-direction: column;
    gap: 40px;
    
    
}
.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaira);
}
.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    
.apresentacao__conteudo__paragrafo a{
    text-decoration: none;
    color: var(--cor-tercearia);
}

}
.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaira);
    font-weight: 400;
    font-size: 1.5rem;
    
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    
}
.apresentacao__links__botao {
    border: 2px solid var(--cor-tercearia);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 16px;
    
}
.apresentacao__links__botao:hover{
    background-color: var(--cor-hover);
    padding: 3%;
}


.imagem {
    border-radius: 16px;
    width: 50%;
}
.rodape {
    background-color: var(--cor-tercearia);
    color: var(--cor-primaria);
    padding: 28px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}
@media (max-width:1250px) {
    .cabecalho {
        padding: 8%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto; 
    }
    
}

